body{
  background-color:lightgray;
}
.container{
  max-width:1200px;
}
.title{
  margin: 2rem 0;
}
.button-row{
  justify-content:space-around;
  margin-bottom:2rem;
}
.display{
margin: auto;
width:1000px;
height:600px;
background-position:center;
background-repeat: no-repeat;
background-size: cover;
}
.text-field{
  position:absolute;
}
.meme-text{
width:75%;
}
.align-top-left{
top:10px;
left:10px;
}
.align-top-right{
top:10px;
right:10px;
}
.align-bottom-left{
bottom:10px;
left:10px;
}
.align-bottom-right{
bottom:10px;
right:10px;
}
.white-text{
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.black-text{
  color: white;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
