.container{
  max-width:1200px;
}
.title{
  margin: 2rem 0;
}
.button-row{
  justify-content:space-around;
  margin-bottom:2rem;
}
.display{
margin: auto;
width:1000px;
height:600px;
position:relative;
}
.text-field{
  position:absolute;
}
.align-top-left{
top:10px;
left:10px;
}
.align-top-right{
top:10px;
right:10px;
}
.align-bottom-left{
bottom:10px;
left:10px;
}
.align-bottom-right{
bottom:10px;
right:10px;
}
