body{
  background-color:lightgray;
}
.container{
  max-width:1200px;
}
.title{
  margin: 2rem 0;
}
.button-row, .text-row{
  justify-content:space-evenly;
  margin-bottom:2rem;
}
.image-row{
  margin-left: 3rem;
}
.image-row > *{
  margin: 0 2rem 2rem;
}

.display{
margin: auto;
width:1000px;
height:600px;
background-position:center;
background-repeat: no-repeat;
background-size: cover;
position:relative;
background-color:black;
}
.text-field{
  position:absolute;
  width:1000px;
}
.meme-text{
width:75%;
}
.align-left{
left:20px;
}
.align-right{
right:20px;
}
.align-top{
top:10px;
}
.align-bottom{
bottom:10px;
}

.white-text{
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.black-text{
  color: white;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.pure-white-text{
  color:white;
}
.pure-black-text{
  color:black;
}
